.login_register{
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-image:url('../../assets/images/back.jpeg');
    background-size:cover; 
    height: 100%;
    opacity: 0.9;
    .scroll-content {
        padding: 20px !important;
        margin-bottom: 0px !important;
    }
   .logo{
        
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 30%;
            margin-top: 20px;
            margin-bottom: 5px;
        }
        p{
            color: color($colors,light);
            font-size: 16px;
            margin-bottom: 10px;
            text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
        }
   } 
   .login_form{
        min-height: calc(100% - 250px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        .text-input::-moz-placeholder {
            color: white;
        }
        
        .text-input:-ms-input-placeholder {
            color: white;
        }
        
        .text-input::-webkit-input-placeholder {
            text-indent: 0;
            color: white;
        }
        .list-ios{
            border: 1px solid rgba(color($colors,dark),.7);;
            border-radius: 20px;
            margin-bottom: 20px;
            padding: 10px 16px;
            .item-ios{
            background-color: transparent;
            .input_black{
                color: white;
            }
            font-size: 15px;
            border-bottom: 1px solid rgba(color($colors,dark),.7);
            &:last-child{
               border: none; 
            }
                .item-inner{
                   padding-right: 0;
                   [item-end]{
                      color: color($colors,light);  
                      z-index: 1000;
                   }
                } 
            }
        }
        .button-ios{
            width: calc(100% - 40px);
            margin: 0 auto;
        }
   }
   .create_account{
       p{
        color: color($colors,secondary);
        font-size: 15px;
        margin-bottom: 0;  
       }
       .button-ios{
          color: rgba(color($colors,dark),.7); 
          height: 25px;
       }
       .btn_signup{
           color:color($colors,light);
       }
   }
}

