page-register {
    .login_register{
        .login_form{
            .text-input::-moz-placeholder {
                color: white;
            }
            
            .text-input:-ms-input-placeholder {
                color: white;
            }
            
            .text-input::-webkit-input-placeholder {
                text-indent: 0;
                color: white;
            }
            .input_black{
                color: white;
            }
            min-height: calc(100% - 50px);
        }
        .create_account{
            .btn_back{
                color:color($colors,light);
            }
        }
        
        
    }
}
