<ion-content padding>
  <h3>Search for your desired course</h3>
  <div class="search_form">
    <button class="cat_btn" (click)="presentModal()" ion-button icon-only>
        <img src="assets/images/ic1.png">
    </button>
    <ion-searchbar [(ngModel)]="searchQuery" (input)="searchLocations()"></ion-searchbar>
  </div>
  <div *ngFor="let item of filters" class="item_content">
    <div class="short_description"  (click)="itemTapped($event, item)">
      <ion-item no-lines>
        <ion-avatar item-start>
          <img src="{{item.image}}">
        </ion-avatar>
        <h2>{{item.name}} <span>{{item.price}}</span></h2>
      </ion-item>
    </div>
  </div>
</ion-content>

