page-list {
    h3 {
        color: color($colors,primary);
        text-align: center;
    }
    .label h2 span {
        float: right;
    }
    .search_form{
        width: 100%;
        padding: 10px;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        .cat_btn{
            width: 60px;
            border-radius: 20px;
            margin: 0;
            float: left;
            img{
                width: 26px;
            }
        }
        .searchbar-ios{
            width: calc(100% - 60px);
            display: inline-block;
            .searchbar-input {
                border-radius: 20px;
                color: color($colors,primary);
            }
            .searchbar-search-icon {
                top: 12px;
            }
        }
    }
//    .item-ios{
//        background: color($colors,primary);
//        border-radius: 10px;
//        color:  color($colors,light);
//        margin-bottom: 8px;
//        float: left;
//        padding: 15px;
//        min-height: 60px;
//        &:nth-child(2n+1){
//            width: calc(100% - 133px);
//        }
//        &:nth-child(2n){
//            width: 125px;
//        }
//        &:nth-child(3n+3){
//            width: 100%;
//            img{
//                 position: absolute;
//                 left: 15px;
//                 top: 0;
//            }
//        }
//        &:nth-child(3n+1){
//            margin-right: 4px;
//        }
//        &:nth-child(3n+2){
//            margin-left: 4px;
//        }
//        &:last-child{
//            margin-bottom: 0;
//        }
//         .item-inner{
//         padding: 0 !important;
//             ion-label{
//                 margin: 0;
//                 img{
//                     height: 50px;
//                     object-fit: contain;
//                     display: block;
//                     margin: 0 auto;
//                     margin-top: 20px;
//                     margin-bottom: 10px;
//                 }
//                 .num_items{
//                     position: absolute;
//                     top: 10px;
//                     right: 10px;
//                     color:color($colors,light); 
//                     .number{
//                         min-width: 25px;
//                         height: 25px;
//                         line-height: 15px;
//                         padding: 5px;
//                         border-radius: 50%;
//                         background: color($colors,light);
//                         text-align: center;
//                         display: inline-block;
//                         color: color($colors,primary);
//                         margin-bottom: 2px;
//                     }
//                     .distance{
//                         display: block;
//                         font-size: 12px;
//                         opacity: .9;
//                     }
//                 }
//             }
//         }
//    }
}