<ion-content padding>
    <div class="profile_img">
        <img src="{{img}}">
        <span class="upload_img" (click)="getPhoto()"><ion-icon color="primary" name="ios-camera-outline"></ion-icon></span>
    </div>
    <div class="user_name">
        <ion-input type="text" [value]="username" disabled="{{isDisabled}}"  text-center></ion-input>
        <button ion-button icon-only clear (click)="changeData()">
            <ion-icon name="md-create" *ngIf="isDisabled"></ion-icon>
            <ion-icon name="checkmark" *ngIf="!isDisabled" class="save_icon"></ion-icon>
        </button>
    </div>
   
    <ion-list class="profile_form" *ngIf="initialized" no-margin>

        <ion-item no-lines no-padding>
            <ion-label>Phone Number</ion-label>
            <ion-input id="elemtId" type="tel" [(ngModel)]="user.phone" disabled="{{isDisabled}}"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding>
            <ion-label>Email</ion-label>
            <ion-input type="email" [(ngModel)]="user.email" disabled="{{isDisabled}}"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding>
            <ion-label>My Location</ion-label>
            <ion-textarea [(ngModel)]="user.address" disabled="{{isDisabled}}"></ion-textarea>
        </ion-item>

        <button (click)="save()" color="primary" ion-button block round *ngIf="!isDisabled">Save</button>
    </ion-list>
</ion-content>
