page-home {
    .caption {
        position: absolute;
        top: 55px;
        background: rgba(255,255,255,0.7);
        z-index: 1;
        margin: auto;
        right: 10px;
        left: 10px;
        text-align: center;
        padding: 20px 10px 20px 10px;
        h1 {
            color: color($colors,primary);
            margin: 0;
            font-size: 23px;
        }
    }
    .statusbar-padding .scroll-content{
        padding-top: 0 !important;
    }
    .scroll-content {
        overflow: hidden;
    }
    .map_div{
        width: 100%;
        height: 100%;
    }
    .search_form{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 10px;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        .cat_btn{
            width: 60px;
            border-radius: 20px;
            margin: 0;
            float: left;
            img{
                width: 26px;
            }
        }
        .searchbar-ios{
            width: calc(100% - 60px);
            display: inline-block;
            .searchbar-input {
                border-radius: 20px;
                color: color($colors,primary);
            }
            .searchbar-search-icon {
                top: 12px;
            }
        }
    }
}
