<ion-content>
  <div class="caption">
      <h1>Where do you want to play?</h1>
  </div>
  <div #map id="map" class="map_div"></div>
  <div class="search_form">
    <button class="cat_btn" (click)="presentModal()" ion-button icon-only>
      <img src="assets/images/ic1.png">
    </button>
    <ion-searchbar [(ngModel)]="searchQuery" (input)="searchLocations()"></ion-searchbar>
  </div>  
</ion-content>