<ion-content padding>

    <div class="account_setting">
        <h3>Account Setting</h3>
        <ion-list no-margin>
            <ion-item (click)="openprofile()" no-padding no-lines>
                Edit profile
                <ion-icon name="arrow-forward" item-end></ion-icon>
            </ion-item>
            <ion-item (click)="logout()" no-padding no-lines>
                logout
                <ion-icon name="arrow-forward" item-end></ion-icon>
            </ion-item>
            <ion-item mode="md" no-padding no-lines>
                <ion-label>Private account</ion-label>
                <ion-toggle  mode="md" checked></ion-toggle>
            </ion-item>
            <ion-item mode="md" no-padding no-lines>
                <ion-label>Push notifications</ion-label>
                <ion-toggle  mode="md"></ion-toggle>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
