<ion-header>

  <ion-navbar>
    <ion-title>Detail Course</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="item_content">
    <div class="short_description">
      <ion-item no-lines>
        <ion-avatar item-start>
          <img src="{{course.imageUrl}}">
        </ion-avatar>
        <h2>{{course.name}}</h2>
        <h2>{{course.address}}</h2>
        <h2>{{course.phone}}</h2>
        <div class="location_detail">Location Details</div>
        <h2>Metal Spikes: {{course.metal_spikes}}</h2>
        <h2>Play Five: {{course.play_five}}</h2>
        <h2>Holes: {{course.holes}}</h2>
        <h2>Type: {{course.type}}</h2>
        <h2>Year Built: {{course.year_built}}</h2>
        <h2>Season: {{course.season}}</h2>
        <h2>Designer: {{course.designer}}</h2>
        <h2>Guest Policy: {{course.guest_policy}}</h2>
        <h2>Dress Code: {{course.dress_code}}</h2>
        <h2>Green Fee: {{course.green_fee}}</h2>
        <h2>Weekend Rate: {{course.weekend_rate}}</h2>
        <h2>ADV Fee: {{course.adv_fee}}</h2>
      </ion-item>
    </div>
  </div>
</ion-content>