page-details {
    .item_content {
        .short_description {
            h2 {
                margin: 0;
                margin-bottom: 10px;
            }
        }
    }    
    .location_detail {
        background: #fff;
        padding: 5px 10px 5px 10px;
        width: 100%;
        color: color($colors,primary);
        margin-bottom: 10px;
    }
}
